/* .col {
    padding-left: 5px;
    padding-right: 5px;
} */

.numero-calculadora {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}